<section class="modal position-fixed top-0 bottom-0 end-0 start-0 d-flex">
    <div class="modal__container">
        <h2 class="modal__title">Log In</h2>
        <form [formGroup]="form" action="">
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control"  aria-describedby="emailHelp" name="email" (input)="show()">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" name="pass">
            </div>
            <div class="d-flex gap-3">
                <button type="submit" class="btn blue-shadow btn-success p-1s" (click)="EditionOpen()">Sing In</button>
                <button href="#" class="btn blue-shadow p-1s" (click)="closeModal()">Cerrar</button>                
            </div>
        </form>
    </div>
</section>