<div class="row d-flex align-items-center justify-content-around">
    <p class="col-2 period rounded">{{edHist.period}}</p>
    <div class="col-6 d-flex flex-column align-items-start me-">
        <h3>{{edHist.title}}</h3>
        <h4 class="fontSecondary">{{edHist.place}}</h4>
        <p>{{edHist.description}}</p>            
    </div>
        <div class="col-2 rounded done d-flex align-items-center justify-content-center">
            <p class="fontSecondary m-0 p-2">{{edHist.finished}}</p>
        </div>
 
   
    

    <div *ngIf="dataService.edit;then changeButton "></div>

    <ng-template #changeButton >
       <app-boton-edition class="col"></app-boton-edition>
    </ng-template>
  
</div>
