<div class="row d-flex align-items-center justify-content-around">
    <p class="col-2 period rounded">{{edHist.period}}</p>
    <div class="col-6 d-flex flex-column align-items-start me-">
        <h3>{{edHist.title}}</h3>
        <h4 class="fontSecondary">{{edHist.place}}</h4>
        <p>{{edHist.description}}</p>            
    </div>
        <div *ngIf="edHist.finished =='Finalizado',then finito;else enCurso"> </div>
        
        <ng-template #finito>
            <div class="col-2 rounded done finito d-flex align-items-center justify-content-center">
                <p class="fontSecondary m-0 p-2 " >{{edHist.finished}}</p>                    
            </div>
        </ng-template>

        <ng-template #enCurso>
            <div class="col-2 rounded done d-flex align-items-center justify-content-center">
                <p class="fontSecondary m-0 p-2 " >{{edHist.finished}}</p>                
            </div>
        </ng-template>
        

    <div *ngIf="dataService.edit;then changeButton "></div>

    <ng-template #changeButton >
       <app-boton-edition 
       class="col"
       [area]="edHist.id"
       ></app-boton-edition>
    </ng-template>
  
</div>
