<div class="d-flex">
    <div class="progress position-relative blue color-bar">
            <span class="progress-left position-absolute">
                <span class="progress-bar position-absolute w-100 h-100"></span>
            </span>
            <span class="progress-right position-absolute">
                <span class="progress-bar position-absolute"></span>
            </span>
            <div class="progress-value position-absolute w-100 h-100">{{skill.name}}</div>
        </div>   
        <div *ngIf="dataService.edit;then changeButton "></div>

        <ng-template #changeButton>
            <app-boton-edition
            [area]="skill.id"
            ></app-boton-edition>
   </ng-template> 
</div>   
   