.item-skill{
    z-index: 0;
 }
p{
    font-weight: 500;
    font-size: 20px;
    z-index: 1;
    color: #dde1e4;
    animation: show 10s 5s 2;
    
}

.skill{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    background-color:  var(--colorMiddleBlue); ;
    border-radius: 50%;
    box-shadow: 6px 6px #324587;       
    overflow: hidden;  
    position: relative;
   border-color: #324587;
   animation: mover 2s 5s;
}

@keyframes mover {
    0%{
        background-color: transparent;
        box-shadow:  inset 6px 6px 10px rgba(9, 32, 62, 0.55);
        transform: translate(6px,6px);
    }
    25%{
        box-shadow:  inset 2px 2px 10px rgba(9, 32, 62, 0.55),4px 4px #324587;
        transform: translate(3px,3px);
    }
    30%{
        box-shadow:  6px 6px #324587;
        transform: translate(0px,0px);
    }
    50%{
        transform: translate(-2px,-2px);
        box-shadow: 8px 8px #324587;    
        background-color:  #2e5f8e ;
    }
    100%{
        background-color:  #2e5f8e ;
        transform: translate(0px);
        box-shadow: 6px 6px #324587;   
    }
}
/* .inner{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.55),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.242),
                -0.5px -0.5px 0px rgba(255,255,255,1);
} */


/* .gauge__fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: 240px;
    height: 240px;
    v
    transform-origin: center top;
    transform: translate(82px,-195px)rotate(45deg);
    transition: transform 0.2s ease-out;
    animation: transport 10s 5s 2;  
  } */

/* @keyframes transport{
    0%{
        transform:translate(-83px,-360px)rotate(45deg);
        opacity: 0;
    }

    100%{
        transform: translate(82px,-195px)rotate(45deg);
        opacity: 1;
    }
}  

@keyframes show{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
} */

