.item-skill{
    z-index: 0;
 }
p{
    font-weight: 500;
    font-size: 20px;
    z-index: 1;
    color: #dde1e4;
    animation: show 10s 5s 2;
    
}

.skill{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    background-color:  var(--colorMiddleBlue); ;
    border-radius: 50%;
    box-shadow: 6px 6px #324587;       
    overflow: hidden;  
    position: relative;
   border-color: #324587;
   cursor: pointer;
}
.skill:hover{
    animation: mover 2s ;
}

@keyframes mover {
    0%{
        background-color: transparent;
        box-shadow:  inset 6px 6px 10px rgba(9, 32, 62, 0.55);
        transform: translate(6px,6px);
    }
    25%{
        box-shadow:  inset 2px 2px 10px rgba(9, 32, 62, 0.55),4px 4px #324587;
        transform: translate(3px,3px);
    }
    30%{
        box-shadow:  6px 6px #324587;
        transform: translate(0px,0px);
    }
    50%{
        transform: translate(-2px,-2px);
        box-shadow: 8px 8px #324587;    
        background-color:  #2e5f8e ;
    }
    100%{
        background-color:  #2e5f8e ;
        transform: translate(0px);
        box-shadow: 6px 6px #324587;   
    }
}
