<section id="Educacion" class="container">
    <h2 class="row">Educacion</h2>
    <div class="row">
        <p class="col">Periodo cursado</p>
        <div class="col">
            <h3>Titulo- Instituto</h3>
            <p>DESCRIPCION:Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, et?</p>                
        </div>
    </div>
    <div class="row">
        <p class="col">Periodo cursado</p>
        <div class="col">
            <h3>Titulo- Instituto</h3>
            <p>DESCRIPCION:Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, et?</p>                
        </div>
    </div>
</section>
