<div class="row">
    <div class="col">
        <h3 >{{proyect.nameProyect}}</h3>
        <p >Creacion: {{proyect.createDate}}</p>        
    </div>
    <p class="col">{{proyect.descriptionProyect}}</p>
    <div class="col d-flex flex-column justify-conten-between gap-3">
        <a class="btn blue-shadow" href="{{proyect.linkUrl}}" target="_bank">Acceso al sitio</a> 
        <a class="btn blue-shadow"  href="{{proyect.linkProyect}}" target="_bank">Repositorio</a>      
    </div>


    <div *ngIf="dataService.edit;then changeButton "></div>

    <ng-template #changeButton >
        <app-boton-edition 
        class="col"
        [area]="proyect.id"
        ></app-boton-edition>
    </ng-template>
</div>
