.row{
    padding-bottom: 50px;
}

.btn{
    border-color: #324587;
    background-color:var(--colorMiddleBlue);
    color: var(--colorWhite);
    height: fit-content;
    width: 130px;
}

.btn:hover{
    background-color:var(--colorDarkBlue);
    color: var(--colorLightBlue);
    box-shadow:0px 0px;
    transform: translate(3px, 2px);
}