<section id="Skills" class="container">
    <h2 class="row">Hard Skills & Soft Skills</h2>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="progress position-relative blue color-bar">
                <span class="progress-left position-absolute">
                    <span class="progress-bar position-absolute w-100 h-100"></span>
                </span>
                <span class="progress-right position-absolute">
                    <span class="progress-bar position-absolute"></span>
                </span>
                <div class="progress-value position-absolute w-100 h-100">HTML</div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="progress position-relative yellow color-bar">
                <span class="progress-left position-absolute ">
                    <span class="progress-bar position-absolute w-100 h-100"></span>
                </span>
                <span class="progress-right position-absolute">
                    <span class="progress-bar position-absolute w-100 h-100"></span>
                </span>
                <div class="progress-value position-absolute w-100 h-100">CSS</div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="progress position-relative pink color-bar">
                <span class="progress-left position-absolute">
                    <span class="progress-bar position-absolute w-100 h-100"></span>
                </span>
                <span class="progress-right position-absolute">
                    <span class="progress-bar position-absolute w-100 h-100"></span>
                </span>
                <div class="progress-value position-absolute w-100 h-100">JavaScript</div>
            </div>
        </div>
    </div>



</section>
