.btn-primary{
    width: 100px;
}
.row{
    padding-bottom: 50px;
}
.period{
    width: 200px;
    border: 2px solid var(--colorMiddleBlue);
    padding: 20px;
    background-color: rgba(73, 138, 199,0.5);
    box-shadow: 2px 3px 10px #154454;
    text-align: center;   
}