.bg-light{
    background-image: var(--colorBackground);
}
.btn{
    border-color: #324587;
    box-shadow: 2px 3px #154454;
}
.btn-success{
    background-color:#2e5f8e;
    color: #dde1e4;
}
.btn:hover{
    background-color:#407cb5;
    color: #31B9C5;
    box-shadow:0px 0px;
    transform: translate(3px, 2px);
}
.btn-success:hover{
    background-color:#09203f;
}
.position-sticky{
    z-index: 1 !important;
}