.bg-light{
    background-image: var(--colorBackground);
}
.btn{
    border-color: #324587;
}
.btn-success{
    background-color:var(--colorMiddleBlue);
    color: var(--colorWhite);
}
.btn:hover{
    background-color:#407cb5;
    color: var(--colorLightBlue);
    box-shadow:0px 0px;
    transform: translate(3px, 2px);
}
.btn-success:hover{
    background-color:var(--colorDarkBlue);
}
.position-sticky{
    z-index: 1 !important;
}